.page-wrapper {
  min-height: calc(100vh - 112px);
  padding: 15px;
  background-color: #eef2f6;
}

.profileBtn {
  height: 50px !important;
  margin: 0 20px 0 10px !important;
  background-color: #eef2f6 !important;
}
